/* --- INTRO.JS GÖRÜNÜM DÜZELTMELERİ --- */
.introjs-tooltip {
    color: #0f172a !important; /* Metin rengini koyu yap */
}
.introjs-tooltip * {
    color: #0f172a !important;
}
.introjs-tooltiptext {
    font-size: 1rem !important;
}
.introjs-button {
    text-shadow: none !important;
    background: #38bdf8 !important;
    color: #0f172a !important;
    border: none !important;
    font-weight: bold !important;
}
.introjs-skipbutton {
    background: transparent !important;
    color: #ef4444 !important;
    border: 1px solid #ef4444 !important;
}
